POSTGRES_DB=metastore
POSTGRES_USER=hive
POSTGRES_PASSWORD=CHANGE_ME
WAIT_TIMEOUT_SECONDS=180
POSTGRES_PORT=5432
HDFS_IPC_PORT=9820
HDFS_WEB_PORT=9870
YARN_UI_PORT=8088
NODEMANAGER_UI_PORT=8042
HIVESERVER2_PORT=10000
HIVESERVER2_WEBUI_PORT=10002
JOBHISTORY_UI_PORT=19888
HIVE_METASTORE_PORT=9083
